@use "variables";

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: variables.$space-cadet;
  font-family: variables.$font-stack;

  .title {
    color: variables.$cultured;
  }
}
